@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

html,
body {
  overflow-x: hidden;
}

@keyframes winmart-marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

@utility animate-winmart-marquee {
  animation: winmart-marquee 24s linear infinite;
}
